@import 'react-toastify/dist/ReactToastify.min.css';
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
}
.post-title {
  cursor: pointer;
  padding: 8px 4px;
}

.post-title:hover {
  color: blueviolet;
}

button {
  padding: 6px 8px;
}
.loading {
  position: fixed;
  top: 5px;
  right: 5px;
}
